* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/* NAVIGATION BAR  */

nav {
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 79%;
    margin: auto;
    column-gap: 27px;
}

ul {
    display: flex;
    column-gap: 92px;
    list-style-type: none;
    font-weight: 600;
    align-items: center;
    font-size: 23px;
}


ul a {
    text-decoration: none;
    color: black;
}



.nav-btns {
    display: none;
}

button[name="nav-login"] {
    padding: 12px;
    background-color: #1b903a;
    color: white;
    width: 120px;
    border-radius: 15px;
    border-style: none;
    margin-right: 10px;
    font-size: 16px;
}

button[name="nav-start"] {
    padding: 12px;
    background-color: #1b903a;
    color: white;
    width: 120px;
    border-radius: 15px;
    border-style: none;
    margin-right: 10px;
    font-size: 16px;
}

.menu-btns {
    display: none;
}

.menu-btns>img:nth-of-type(1) {
    padding-right: 10px;
}

.logo-div {
    padding-top: 10px;
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px;
}

button[name="login"] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 26px;
    color: white;
}

button[name="start"] {
    padding: 11px;
    width: 185px;
    border-style: none;
    font-size: 26px;
    background-color: #1b903a;
    color: white;
    border-radius: 9px;
}

img[alt="menu-burger"] {
    display: none;
}

.btns {
    display: flex;
}

/* nav media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    ul {
        flex-direction: column;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    ul a {
        color: white;
    }

    ul a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: black;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list a:hover {
        color: white;
    }


    .ul-list li {
        padding-bottom: 22px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .btns {
        display: none;
    }

    .menu-btns {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {
    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .btns {
        display: none;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: black;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .btns {
        display: none;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: black;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}

@media screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    .ul-list a:hover {
        color: white;
    }

    ul a {
        color: white;
    }

    .btns {
        display: none;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: black;
        color: white;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: -4px;
        border: 5px solid #518581;
        padding: 28px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: flex;
        padding: 5px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}




main {

    width: 92%;
    margin: auto;

}

.background {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
    width: 82%;
    margin: auto;
}

.background-desc {
    text-align: center;
}

.background-desc>h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.background-desc>h2 {
    color: #1b903a;
    font-weight: 600;
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.background-desc>p {
    color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

button[name="register-btn"] {
    padding: 10px;
    font-weight: 600;
    font-size: 21px;
    width: 200px;
    border-style: none;
    background-color: #1b903a;
    color: white;
    border-radius: 15px;
}

img[alt="background-img"] {
    width: 100%;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    column-gap: 24px;
    margin-top: 50px;
}

.clients {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.clients > h2{
    font-size: 35px;
}

.clients > p{
    color: gray;
    font-size: 19px;
}


.community > h3{
    font-size: 35px;
}

.community > p{
    color: gray;
    font-size: 19px;
}


.community {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.intro-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 13px;
}

.intro-cards>div {
    width: 27%;
    border: 2px solid rgb(103, 139, 171);
    border-radius: 15px;
    padding: 26px;
    background-color: white;
    font-size: 17px;
}

/* intro cards media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .intro-cards>div {
        width: 30%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {
    .intro-cards>div {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .intro-cards>div {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .intro-cards>div {
        width: 100%;
    }
}

.spending {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 40px;
}

.spending>div {
    width: 47%;
}

.spending-desc > h3{
    font-size: 30px;
}

.spending-desc > p{
    color: gray;
    line-height: 30px;
    font-size: 18px;
    margin-top: 7px;
}

img[alt="spending-img"] {
    width: 100%;
}

/*  spending media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .spending>div {
        width: 47%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .spending>div {
        width: 92%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .spending>div {
        width: 92%;
    }
}

@media screen and (max-width: 600px) {
    .spending>div {
        width: 92%;
    }
}


.local {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    width: 82%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.local h2{
    font-size: 50px;
}

.local p:nth-of-type(1){
    font-size: 30px;
    color: #1b903a;
    font-weight: 500;
}

.local p:nth-of-type(2){
    font-size: 20px;
    color: gray;
}

.local h4{
    font-size: 18px;
    color: gray;
    font-weight: 500;
 }

.local>div {
    width: 47%;
    margin-bottom: 20px;
}

.up-row {
    display: flex;
    column-gap: 40px;
    justify-content: space-evenly;
    margin-bottom: 45px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.down-row {
    display: flex;
    justify-content: space-evenly;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
}

/* local media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .local>div {
        width: 47%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .local>div {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .local>div {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .local>div {
        width: 100%;
    }
}


.tesla {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 28px;
    width: 86%;
    margin: auto;
    margin-top: 40px;
}

.tesla h3{
    font-size: 30px;
}

.tesla p {
    font-size: 18px;
    color: gray;
    margin-top: 9px;
    line-height: 30px;
}

.tesla h4{
    font-size: 19px;
    color: #1b903a;
    font-weight: 600;
    margin-bottom: 15px;
}

img[alt="tesla"] {
    width: 100%;
    height: 100%;
}

.mini-sponsors {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 30px;
}

.tesla>div {
    width: 47%;
}


/*  spending media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .tesla>div {
        width: 47%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .tesla>div {
        width: 92%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .tesla>div {
        width: 92%;
    }
}

@media screen and (max-width: 600px) {
    .tesla>div {
        width: 92%;
    }
}

.caring {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}


.caring>p {
    width: 65%;
    margin: auto;
    margin-top: 10px;
}

.labtop-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 13px;
}

img[alt="labtop"] {
    width: 100%;
    border-radius: 20px;
}

.labtop-cards>img {
    width: 27%;
}

/* laptob card media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .labtop-cards>img {
        width: 27%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .labtop-cards>img {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .labtop-cards>img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .labtop-cards>img {
        width: 100%;
    }
    
}


.demo {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 75px;
}

.demo > h2{
    font-size: 35px;
}

.demo > p{
    font-size: 18px;
    color: gray;
    line-height: 28px;
}

button[name="get-demo-btn"]{
    padding: 10px;
    font-weight: 600;
    font-size: 21px;
    width: 200px;
    border-style: none;
    background-color: #1b903a;
    color: white;
    border-radius: 15px;
    margin-top: 22px;
}

.demo > p{
    width: 65%;
    margin: auto;
    margin-top: 10px;
}

footer {
    background-color: #000000;
    color: white;
    padding: 30px;
    font-size: 18px;
}

footer > div:nth-of-type(1){
    width: 79%;
    margin: auto;
    margin-bottom: 15px;
}

.footer-info {

    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
}

.display {
    display: block;
}


/*demo media query */

@media  screen and (max-width: 1200px) and (min-width:992px) {
    .caring>p {
        width: 100%;
    }
    .demo > p{
        width: 100%;
    }
}
@media  screen and (max-width: 992px) and (min-width:786px) {
    .caring>p {
        width: 100%;
    }
    .demo > p{
        width: 100%;
    }
}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .caring>p {
        width: 100%;
    }
    .demo > p{
        width: 100%;
    }
}
@media  screen and (max-width: 600px){
    .caring>p {
        width: 100%;
    }
    .demo > p{
        width: 100%;
    }
}
